
/*decrease desktop width */
@media (min-width: 1200px) {
    .container {
        max-width: 900px;
    }
}
/* medium screens and up */
@media (min-width: 768px) { 
    header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
 }

 /* small screens and down  */

 @media (max-width: 767.98px) { 
    .header-second-row {
        padding-top: 10px;
        margin-top: 0px !important;
    }
    header {
        padding-top: 10px;
    }
  }

.list-unstyled {
    padding-top: 10px;
}

/* Header call to action buttons */

.btn-outline-secondary {
    color: #4c4f5f;
    border-color: #09C;
    border-width: medium;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #b9656c;
    border-color: #b9656c;
    border-width: medium;
}
.btn-outline-secondary:focus {
    outline: 0 !important;
}

.btn-outline-secondary:active {
    color: #fff;
    background-color: #b9656c !important;
    border-color: #b9656c !important;
}
.call-to-action-btns {
    margin-top: 0px;
    margin-bottom: 5px;
}

/* fix button text overflow */

/* .btn{
    white-space:normal !important;
    word-wrap: break-word;
} */

/* Services cards background and borders */
#servicesAccordion > .card {
    border: 0px !important;
}

#servicesAccordion > .card > .card-header {
    border-bottom: 0px !important;
    background-color: #fff !important;
}

/* FOOTER */

footer {
    height: 50px;
    color: white;
}


/* button group buttons - photos/services/reviews */
.open-button {
    margin: 0px !important;
}

button[data-target='#servicesCollapse'] {
    border-width: 2px 1px 2px 2px;
}

button[data-target='#photosCollapse'] {
    border-width: 2px 1px 2px 1px;
}

button[data-target='#reviewsCollapse'] {
    border-width: 2px 2px 2px 1px;
}

.btn-outline-info {
    color: #4c4f5f;
    border-color: #b9656c;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #b9656c;
    border-color: #b9656c;
}

.btn-outline-info:active {
    color: #fff;
    background-color: #b9656c !important;
    border-color: #b9656c !important;
}

/* Services buttons */

.btn-outline-primary {
    color: #4c4f5f;
    background-color: transparent;
    background-image: none;
    border-color: #4c4f5f;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #999;
    border-color: #4c4f5f;
}

.btn-outline-primary:active {
    color: #fff;
    background-color: #999 !important;
    border-color: #4c4f5f !important;
}



/* Gallery photos */

.photos-gallery {
    width: 200px;
}

.galleryPhoto_1 {
    background-image: url('../img/Drawing-Stainless-Steel-Lining-page-001.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    cursor: grab;
}

.galleryPhoto_2 {
    background-image: url('../img/photos-page/kneeling_Fireplace_brush.jpeg');
    background-size:cover;
    background-position:center;
    height: 400px;
    cursor: grab;
}

.galleryPhoto_3 {
    background-image: url('../img/photos-page/kneeling_Fireplace.jpeg');
    background-size:cover;
    background-position:center;
    height: 400px; 
    cursor: grab;
}



.galleryPhoto_4 {
    background-image: url('../img/photos-page/roof_chimney.jpeg');
    background-size: cover;
    background-position: center;
    height: 400px;
    cursor: grab;
}

.galleryPhoto_5 {
    background-image: url('../img/photos-page/steelPiping.jpeg');
    background-size:cover;
    background-position:center;
    height: 400px;
    cursor: grab;
}

.galleryPhoto_6 {
    background-image: url('../img/photos-page/stuffingPipe_roof.jpeg');
    background-size:cover;
    background-position:center;
    height: 400px; 
    cursor: grab;
}

