
/* medium screens and up */
@media (min-width: 768px) { 
    header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
 }

 /* small screens and down  */

 @media (max-width: 767.98px) { 
    .header-second-row {
        margin-right: 10px;
    }
    header {
        margin-top: 10px;
    }
  }
/* OWNER PIC */
.profile-img{
    max-height: 175px;
    max-width: 175px;
    /* min-height: 75px;
    min-width: 75px; */
    margin-top: 10px;
} 

.list-unstyled {
    margin-top: 10px;
}

/* Header call to action buttons */

.btn-outline-secondary {
    color: #4c4f5f;
    border-color: #09C;
    border-width: medium;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #b9656c;
    border-color: #b9656c;
    border-width: medium;
}
.btn-outline-secondary:focus {
    outline: 0 !important;
}

.btn-outline-secondary:active {
    color: #fff;
    background-color: #b9656c !important;
    border-color: #b9656c !important;
}
.call-to-action-btns {
    margin-top: 0px;
    margin-bottom: 5px;
}

/* fix button text overflow */

.btn{
    white-space:normal !important;
    word-wrap: break-word;
}

/* FOOTER */

footer {
    height: 50px;
    color: white;
}


/* button group buttons - photos/services/reviews */
.open-button {
    margin: 0px !important;
}

button[data-target='#servicesCollapse'] {
    border-width: 2px 1px 2px 2px;
}

button[data-target='#photosCollapse'] {
    border-width: 2px 1px 2px 1px;
}

button[data-target='#reviewsCollapse'] {
    border-width: 2px 2px 2px 1px;
}

.btn-outline-info {
    color: #4c4f5f;
    border-color: #b9656c;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #b9656c;
    border-color: #b9656c;
}

.btn-outline-info:active {
    color: #fff;
    background-color: #b9656c !important;
    border-color: #b9656c !important;
}

/* Services buttons */

.btn-outline-primary {
    color: #4c4f5f;
    background-color: transparent;
    background-image: none;
    border-color: #4c4f5f;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #999;
    border-color: #4c4f5f;
}

.btn-outline-primary:active {
    color: #fff;
    background-color: #999 !important;
    border-color: #4c4f5f !important;
}



/* Gallery photos */

.photos-gallery {
    width: 200px;
}

.galleryPhoto_1 {
    background-image: url('../img/photos-page/photo-01.jpeg');
    background-size: cover;
    background-position: center;
    height: 400px;
    cursor: grab;
}

.galleryPhoto_2 {
    background-image: url('../img/photos-page/photo-02.jpeg');
    background-size:cover;
    background-position:center;
    height: 400px;
    cursor: grab;
}

.galleryPhoto_3 {
    background-image: url('../img/photos-page/photo-03.jpeg');
    background-size:cover;
    background-position:center;
    height: 400px;
    cursor: grab;
}



