


@import url('https://fonts.googleapis.com/css?family=IM+Fell+English|Open+Sans:400,700');
      
.container {
    margin-top: 35px;
}     
.header-second-line {
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-img-top {
    max-height: 150px;
    max-width: 150px;
}

/* Header Stuff */
/* header {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

/* .header-btns {
  display: grid;
  margin: 0px;
} */

/* .header-btns input {
  background-color: #4c4f5f; */
  /* 
  blue - #4c4f5f
  red - #b9656c
  */
  /* color: white;
  font-weight: bold;
  border: 0px;
  margin: 5px;
  border-radius: 4px;
} */

/* header img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
/* }  */

/* #feature {
  display: grid;
  grid-template-columns: 1fr 2fr;
}     */

/* #feature img {
  width: 50px;
  height: 50px;
} */


/* Tab Stuff */
/* .main-tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.main-tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 33%;
}

.main-tabs button:hover {
  background-color: #ddd;
}

.main-tabs button.active {
  background-color: #ccc;
} */

.tabcontent {
  display: none;
  padding: 0px 0px;
  border: 1px solid #ccc;
  border-top: none;
}

#services-container {
  display: block;
}


/* Photos Container */
.photos-thumbnail img {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px; 
  width: 100px;
  height: 100px;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}



/* Services - Accordian (Card) */
.card-header {
  background-color: black;
  text-align: center;
}

.card-header label{
  color:white;
  font-weight: bold;
  font-size: 24px;
}

.card-header label:hover{
  color:grey;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


footer {
  height: 100px;
  border-top: 3px solid #34495E;
  text-align: center;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul li {
  display: inline;
  margin: 0 20px;
}