
/* Large screens and up */
@media (min-width: 1200px) {
    /*decrease desktop width */
    .container {
        max-width: 1080px;
    } 
}

/* medium screens and up */
@media (min-width: 768px) { 
   
    .header-second-row {
        margin-top: 15px;
        margin-bottom: 15px;
    }
 }

 /* medium sreccnes and down  */

 @media (max-width: 767.98px) { 
    .light-transparent-bg {
        background: rgba(233, 236, 239, 0.53) !important;
    }

  }

  /* ============================================ Global Settings  ============================================  */

body {
    background: #f8f9fa;
}

/* fix for 15px of right padding on mobile problem - the rows were putting weird padding and negative padding */
html, body {
    overflow-x: hidden;
}
/* background image fixed, no scroll - background attachment fixed is not supported in mobile browsers */
body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("../img/beautiful-house-high-definition-wallpapers-cool-desktop-images-widescreen-copy.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* ALL TEXT WEIGHT  */
p, .btn, h1, figcaption, h5 {
    font-weight: 600;
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
    margin-bottom: 0;
}

/* ROUND CORENERS */ 
.card, .btn-group, .list-unstyled {
    border-radius: .25rem;
}


  /* ======================================  TRANSPARENT CONTENT BACKGROUND  =========================================== */

  .light-transparent-bg {
    background: rgba(233, 236, 239, 0.73);
}


/* ============================================  Services cards background and borders  ============================================  */


#servicesAccordion > .card {
    border: 0px !important;

}


#servicesAccordion > .card > .card-header {
    border-bottom: 0px !important;
}

/* ============================================  THE TRHEE ACCORDION BUTTONS ============================================   */
#accordion .open-button:hover {
    background-color: #b9656c;
}

#accordion .open-button:focus {
    background-color: #b9656c;
    color: #fff;
    /*the line below changes the default btn click highlight state*/
    /* outline: 5px auto royalblue !important; */

}

/* fix button text overflow */

.btn {
    white-space:normal !important;
    word-wrap: break-word;
}

/* button group buttons - photos/services/reviews */
.open-button {
    margin: 0px !important;
}

button[data-target='#servicesCollapse'] {
    border-width: 0px 1px 0px 0px;
}

button[data-target='#photosCollapse'] {
    border-width: 0px 1px 0px 0px;
}

button[data-target='#reviewsCollapse'] {
    border-width: 0px 0px 0px 0px;
}

.btn-info {
    color: #fff;
    border-color: #4c4f5f;
    background-color: #4c4f5f;
}


/* ============================================ Services buttons  ============================================  */ 

.btn-outline-primary {
    color: #4c4f5f;
    background-color: #fff;
    background-image: none;
    border-color: #fff;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #999;
    border-color: #999;
}

.btn-outline-primary:active {
    color: #fff;
    background-color: #999 !important;
    border-color: #4c4f5f !important;
}

.card-body {
    background: #fff;
}

#backBTN {
    text-align: left;
    font-size: 1.3rem;
}


